<div class="contents-editor__main_layout md-layout" style="width: 1000px; height: 1000px;">
    <div class="md-layout-item md-size-75" style="width: 1000px; height:1000px;">
        <l-map ref="map" :zoom="13" :center="[33.6186448, 130.416049]" zoom-control="false" attribution-control="false">
         <l-tile-layer
            v-for="tileProvider in tileProviders"
             :key="tileProvider.name"
             :name="tileProvider.name"
             :visible="tileProvider.visible"
             :url="tileProvider.url"
             :attribution="tileProvider.attribution"
             layer-type="base" token="test" />
          <l-control-attribution position="bottomright" prefix="elixir" />
          <l-control-scale :imperial="false" />
          <l-marker v-for="marker in locations" :key="marker.id" :visible="marker.visible" :lat-lng.sync="marker.position" :draggable="false" 
            @click="alert(marker)" >
            <l-popup :content="marker.tooltip" />
            <l-tooltip :content="marker.tooltip" />
          </l-marker>
        </l-map>
    </div>
</div>
