<!DOCTYPE HTML>
<html>
  <head>
    <!-- when using the mode "code", it's important to specify charset utf-8 -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    
    <link href="/css/vue-material/dist/theme/default.css" rel="stylesheet" type="text/css">
    <link href="/css/vue-material/dist/vue-material.min.css" rel="stylesheet" type="text/css">
    <link href="/css/material-icons/iconfont/material-icons.css" rel="stylesheet" type="text/css">
    <link href="/css/leaflet/dist/leaflet.css" rel="stylesheet" type="text/css" />
    <style>
    #map {
        height: 100%;
        width: 100%;
        margin-top: -24px;
    }

    /* default legend, layer styling from leaflet template */
    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }
    .legend {
        text-align: left;
        line-height: 18px;
        color: #555;
    }
    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }<
    </style>
  </head>
  <body style="width: calc(100% - 10px);">
    <div id="app">
        <my-map _cms-base-url="https://secure-taiga-58096.herokuapp.com/api" />
    </div>
    <script src="/js/app.bundle.js"></script>
  </body>
</html>

